{% extends 'base/base4auth.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load humanize %}

{% block title %} 查看所有通知 {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/jquery-ui.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/ui.jqgrid.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/chosen.css" %}"/>

    {#  custom css  #}
    <link rel="stylesheet" href="{% static 'css/customs.css' %}">
{% endblock head %}


{% block page_content %}
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable">
                <ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
                    <li class="
                    {% if notification_type == 'site' %}
                    active
                    {% endif %} ">
                        <a href="{% url 'notifications' %}?notification_type=site">
                            <i class="blue ace-icon fa fa-inbox bigger-130"></i>
                            <span class="bigger-110">站内通知</span>
                        </a>
                    </li>
                    <li class="
                    {% if notification_type == 'app' %}
                    active
                    {% endif %} ">
                        <a href="{% url 'notifications' %}?notification_type=app">
                            <i class="blue ace-icon fa fa-envelope  bigger-130"></i>
                            <span class="bigger-110">应用动态</span>
                        </a>
                    </li>
                    <!-- /.dropdown -->
                </ul>

                <div class="tab-content no-border no-padding">
                    <div id="notification" class="tab-pane in active">
                        <div class="message-container">
                            <div id="id-message-list-navbar" class="message-navbar clearfix">
                                <div class="message-bar">
                                    <div class="message-infobar" id="id-message-infobar">
                                        <span class="blue bigger-150">
                                            通知
                                        </span>
                                        <span class="grey bigger-110">

                                            ({{ unread_num }} 未读)

                                        </span>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="message-list-container">

                                <div class="message-list" id="message-list">

                                    {% if notification_type == 'site' %}
                                        {% for notification in unread %}
                                            <div class="message-item message-unread">
                                                <ul style="list-style-type:none">
                                                    <li>
                                                        {{ notification|safe }}
                                                        <span class="pull-right">{{ notification.date|localize }}</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    {% endif %}


                                    {% if notification_type == 'app' %}
                                        {% for notification in unread %}
                                            <div class="message-item message-unread">
                                                <a href="/notification/read?notification_type=app&notification_id={{ notification.id }}&next={{ notification.to_do_reference_url }}">
                                                    <div class="clearfix">
                                                        <div class="col-sm-4">
                                                            <i class="btn btn-xs no-hover btn-pink fa {{ notification.get_ico }}"></i>
                                                            <b>{{ notification.get_app_name }}</b>
                                                        </div>
                                                        <div class="col-sm-6"><p>{{ notification.content }}</p></div>
                                                        <div class="col-sm-2">
                                                            <span class="pull-right">{{ notification.date|localize }}</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>

                            <div class="message-footer clearfix">
                                <div class="pull-left"> 共计{{ unread_num }}条通知</div>

                                <div class="pull-right">


                                    &nbsp; &nbsp;
                                    <ul class="pagination middle">
                                        {% if unread.has_previous %}
                                            <li class="">
                                                <a href="?notification_type={{ notification_type }}&page={{ unread.previous_page_number }}">
                                                    <i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="disabled">
                                                <a>
                                                    <i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li>
																	<span>
																		                                    <div class="inline middle">
                                                                                                                第 {{ unread.number }}
                                                                                                                页；共 {{ unread.paginator.num_pages }}页
                                                                                                            </div>
																	</span>
                                        </li>
                                        {% if unread.has_next %}
                                            <li class="">
                                                <a href="?notification_type={{ notification_type }}&page={{ unread.next_page_number }}">
                                                    <i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="disabled">
                                                <a>
                                                    <i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.tabbable -->
        </div>
        <!-- /.col -->
    </div><!-- /.row -->

    <!-- PAGE CONTENT ENDS -->
{% endblock page_content %}

{% block page_plugin_js %}
    {{ block.super }}
    <!-- page specific plugin scripts -->
    <script src="{% static "base_from_ace/js/date-time/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/bootstrap-tag.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/jquery.hotkeys.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/bootstrap-wysiwyg.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/jquery-ui.custom.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/jquery.ui.touch-punch.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/jquery.slimscroll.min.js" %}"></script>
{% endblock page_plugin_js %}

{% block inline_scripts_to_page %}
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
        });
    </script>
{% endblock %}
