{% extends 'base/base4auth.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block title %} 查看所有通知 {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/jquery-ui.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/ui.jqgrid.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base_from_ace/css/chosen.css" %}"/>
{% endblock head %}


{% block page_content %}
    <div class="row alert alert-info hide">
        <button class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <i class="ace-icon fa fa-hand-o-right"></i>
        Please note that demo server is not configured to save the changes, therefore you may get an error message.
    </div>
    <div class="row">

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <script type="text/javascript">
            var $path_base = "..";//this will be used for editurl parameter
        </script>

    </div>


    <div class="row" id="dialogContent">

        <div id="dialog-message" class="hide">
            <link rel="stylesheet" href="{% static "base_from_ace/css/jquery.gritter.css" %}">
            <script src="{% static "base_from_ace/js/spin.min.js" %}"></script>
            <div class="col-xs-12">
                <h1 class=" smaller lighter grey text-center">
                    <i class="ace-icon fa fa-spinner fa-spin orange bigger-300"></i>
                </h1>
            </div>
        </div>
        <!-- #dialog-message -->

        <div id="dialog-confirm" class="hide">
            <div class="alert alert-info bigger-110">
                These items will be permanently deleted and cannot be recovered.
            </div>

            <div class="space-6"></div>

            <p class="bigger-110 bolder center grey">
                <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
                Are you sure?
            </p>
        </div>
        <!-- #dialog-confirm -->

    </div>

    {#<span class="btn btn-danger btn-sm popover-error" data-rel="popover" data-placement="top" #}
    {#        data-original-title="<i class='ace-icon fa fa-bolt red'></i> Top Danger"#}
    {#        data-content="Oh snap! Change a few things up and try submitting again.">Top</span>#}

{% endblock page_content %}

{% block page_plugin_js %}
    {{ block.super }}
    <!-- page specific plugin scripts -->
    <script src="{% static "base_from_ace/js/date-time/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/jqGrid/jquery.jqGrid.custom.js" %}"></script>
    <script src="{% static "base_from_ace/js/jqGrid/i18n/grid.locale-cn.js" %}"></script>
    <script src="{% static "base_from_ace/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/jquery.ui.touch-punch.min.js" %}"></script>
    <script src="{% static "base_from_ace/js/chosen.jquery.min.js" %}"></script>
    <script src="{% static "plugins/jquery.form.js" %}"></script>
{% endblock page_plugin_js %}

{% block inline_scripts_to_page %}
<script type="text/javascript">
    {# 自定义的函数 #}
    function windowView(id) {
        url = "{% url "dishes_detail" pk=0 %}" + id;
        tableTitle = '查看';
        window.open(url, tableTitle, "width=950,height=800,top=0,left=0," +
                "menubar=yes,status=yes,location=no,copyhistory=no," +
                "toolbar=0,resizable=no,scrollbars=no");
    };
    function windowEdit(id) {
        url = "{% url "dishes_edit" pk=0 %}" + id;
        tableTitle = '编辑';
        window.open(url, tableTitle, "width=950,height=800,top=0,left=0," +
                "menubar=yes,status=yes,location=no,copyhistory=no," +
                "toolbar=0,resizable=no,scrollbars=no");
    };


    function dialogEditor(id) {
        //event.preventDefault();
        url = "{% url "dishes_edit" pk=0 %}" + id;
        var dialogContent = $("#dialog-message");
        //if dialogContent
        $.get(url,function(data){
            dialogContent.html('');
            dialogContent.html(data);
        });
        dialogContent.dialog('open');
        /**
         dialog.data( "uiDialog" )._title = function(title) {
                title.html( this.options.title );
            };
         **/
    };

    //Cross Site Request Forgery protection
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    {# jQuery ready on #}
    jQuery(function ($) {
        {# 初始化 UI #}
        $("#dishMenu").addClass("active");
{#        $('[data-rel=popover]').popover({html:true});#}

        {# 其他需要初始化的 #}
        //override dialog's title function to allow for HTML titles
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                var $title = this.options.title || '&nbsp;'
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else title.text($title);
            }
        }));

        // dialog init
        var dialogMessage=$("#dialog-message");
        dialogMessage.removeClass('hide').dialog({
                autoOpen: false,
                modal: true,
                width: 700,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> 菜品编辑</h4></div>",
                title_html: true,
                buttons: [
                    {
                        text: "关闭",
                        "class": "btn btn-xs",
                        click: function () {
                            $(this).dialog("close");
                        }
                    },
                    {
                        text: "保存",
                        "class": "btn btn-primary btn-xs",
                        click: function () {
                            var options = {
                                            target:'#dialog-message'
                                            //success:function(){dialogMessage.dialog("close");}  // post-submit callback
                                            // other available options:
                                            //url:       url         // override for form's 'action' attribute
                                            //type:      type        // 'get' or 'post', override for form's 'method' attribute
                                            //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
                                            //clearForm: true        // clear all form fields after successful submit
                                            //resetForm: true        // reset the form after successful submit
                                            // $.ajax options can be used here too, for example:
                                            //timeout:   3000
                                        };
                            var dialogForm=$(this).children('form');
                            dialogForm.ajaxSubmit(options);
                            //$(this).dialog("close");
                        }
                    }
                ]
            });




        {# 初始化 table #}
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";
        //resize to fit page size
        $(window).on('resize.jqGrid', function () {
            $(grid_selector).jqGrid('setGridWidth', $(".page-content").width());
        })
        //resize on sidebar collapse/expand
        var parent_column = $(grid_selector).closest('[class*="col-"]');
        $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
            if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                $(grid_selector).jqGrid('setGridWidth', parent_column.width());
            }
        });

        jQuery(grid_selector).jqGrid({
            //direction: "rtl",
            url: "{% url 'dishes_list_edit_json' %}",
            datatype: "json",
            //height: "auto",
            height: "392",
            colNames: ['ID', '最后编辑时间', '菜名', '菜类', '菜系', '时节', '口味', '场景', ' ' ],
            colModel: [
                {name: 'id', index: 'id', width: 20, sorttype: "int", editable: false},
                {name: 'sdate', index: 'sdate', width: 60, editable: false, sorttype: "date", unformat: pickDate},
                {name: 'name', index: 'name', width: 90, editable: true, editoptions: {size: "20", maxlength: "30"}},
                {name: 'category', index: 'category', width: 60},
                {name: 'cuisine', index: 'cuisine', width: 40, editable: true, edittype: "select", editoptions: {value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX"}},
                {name: 'season', index: 'season', width: 60, editable: true, edittype: "select", editoptions: {value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX"}},
                {name: 'taste', index: 'taste', width: 60, editable: true, edittype: "select", editoptions: {value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX"}},
                {name: 'scene', index: 'scene', width: 60, editable: true, edittype: "select", editoptions: {value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX"}},
                {name: 'myac', index: '', width: 90, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        delOptions: {recreateForm: true, beforeShowForm: beforeDeleteCallback},
                        editformbutton: false,
                        editbutton: false,
                        //editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback},
                        {# 自定义的属性 #}
                        viewformbutton: true,
                        editwindowbutton: false,
                        editdialogbutton: true
                    }
                }
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            //toppager: true,
            sortname: 'id',
            multiselect: true,
            //multikey: "ctrlKey",
            multiboxonly: true,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    styleCheckbox(table);
                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);

            },
            //editurl: "/dummy.html",//nothing is saved
            editurl: "{% url "dishes_jGrid_edit" %}",//nothing is saved
            caption: "菜品编辑",
            autowidth: true
            /**
             ,
             grouping:true,
             groupingView : {
                     groupField : ['name'],
                     groupDataSorted : true,
                     plusicon : 'fa fa-chevron-down bigger-110',
                     minusicon : 'fa fa-chevron-up bigger-110'
                },
             caption: "Grouping"
             */
        });
        $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

        //enable search/filter toolbar
        //jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
        //jQuery(grid_selector).filterToolbar({});

        //switch element when editing inline
        function aceSwitch(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=checkbox]')
                        .addClass('ace ace-switch ace-switch-5')
                        .after('<span class="lbl"></span>');
            }, 0);
        }

        //enable datepicker
        function pickDate(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=text]')
                        .datepicker({format: 'yyyy-mm-dd', autoclose: true});
            }, 0);
        }


        //navButtons
        jQuery(grid_selector).jqGrid('navGrid', pager_selector,
                { 	//navbar options
                    edit: false,
                    editicon: 'ace-icon fa fa-pencil blue',
                    add: false,
                    addicon: 'ace-icon fa fa-plus-circle purple',
                    del: true,
                    delicon: 'ace-icon fa fa-trash-o red',
                    search: true,
                    searchicon: 'ace-icon fa fa-search orange',
                    refresh: true,
                    refreshicon: 'ace-icon fa fa-refresh green',
                    view: false,
                    viewicon: 'ace-icon fa fa-search-plus grey',
                    refreshstate: 'current'
                },
                {
                    //edit record form
                    //closeAfterEdit: true,
                    //width: 300,
                    recreateForm: true,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                    /*
                     onInitializeForm : function(formid){
                     var csrftoken = cookie("csrftoken");
                     var getdata = $.get('http://127.0.0.1:8001/dishes/1/edit/',function(data,status){
                     var getform = data;
                     var getstatus = status;
                     });
                     },
                     onclickSubmit : function(params, posdata) {
                     var add_data = posdata;
                     return add_data
                     }*/
                },
                {
                    //new record form
                    //width: 700,
                    closeAfterAdd: true,
                    recreateForm: true,
                    viewPagerButtons: false,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                                .wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //delete record form
                    recreateForm: true,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        if (form.data('styled')) return false;

                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_delete_form(form);

                        form.data('styled', true);
                    },
                    onClick: function (e) {
                        alert(1);
                    }
                },
                {
                    //search form
                    recreateForm: true,
                    afterShowSearch: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                        style_search_form(form);
                    },
                    afterRedraw: function () {
                        style_search_filters($(this));
                    },
                    multipleSearch: true,
                    /**
                     multipleGroup:true,*/
                    showQuery: true

                },
                {
                    //view record form
                    recreateForm: true,
                    beforeShowForm: function (e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    }
                }
        );


        function style_edit_form(form) {
            //enable datepicker on "sdate" field and switches for "stock" field
            form.find('input[name=sdate]').datepicker({format: 'yyyy-mm-dd', autoclose: true})
                    .end().find('input[name=stock]')
                    .addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
            //don't wrap inside a label element, the checkbox value won't be submitted (POST'ed)
            //.addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

            //update buttons classes
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
            buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')

            buttons = form.next().find('.navButton a');
            buttons.find('.ui-icon').hide();
            buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
            buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');
        }

        function style_delete_form(form) {
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm btn-white btn-round').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-danger').prepend('<i class="ace-icon fa fa-trash-o"></i>');
            buttons.eq(1).addClass('btn-default').prepend('<i class="ace-icon fa fa-times"></i>')
        }

        function style_search_filters(form) {
            form.find('.delete-rule').val('X');
            form.find('.add-rule').addClass('btn btn-xs btn-primary');
            form.find('.add-group').addClass('btn btn-xs btn-success');
            form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }

        function style_search_form(form) {
            var dialog = form.closest('.ui-jqdialog');
            var buttons = dialog.find('.EditTable')
            buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'ace-icon fa fa-retweet');
            buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'ace-icon fa fa-comment-o');
            buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'ace-icon fa fa-search');
        }

        function beforeDeleteCallback(e) {
            var form = $(e[0]);
            if (form.data('styled')) return false;

            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_delete_form(form);

            form.data('styled', true);
        }

        function beforeEditCallback(e) {
            var form = $(e[0]);
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_edit_form(form);
        }


        //it causes some flicker when reloading or navigating grid
        //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
        //or go back to default browser checkbox styles for the grid
        function styleCheckbox(table) {
            /**
             $(table).find('input:checkbox').addClass('ace')
             .wrap('<label />')
             .after('<span class="lbl align-top" />')


             $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
             .find('input.cbox[type=checkbox]').addClass('ace')
             .wrap('<label />').after('<span class="lbl align-top" />');
             */
        }


        //unlike navButtons icons, action icons in rows seem to be hard-coded
        //you can change them like this in here if you want
        function updateActionIcons(table) {
            /** */
            var replacement =
            {
                'ui-ace-icon fa fa-pencil': 'ace-icon fa fa-pencil blue',
                'ui-ace-icon fa fa-trash-o': 'ace-icon fa fa-trash-o red',
                'ui-icon-disk': 'ace-icon fa fa-check green',
                'ui-icon-cancel': 'ace-icon fa fa-times red'
            };
            $(table).find('.ui-pg-div span.ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })

        }

        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
            var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({container: 'body'});
            $(table).find('.ui-pg-div').tooltip({container: 'body'});
        }

        var selr = jQuery(grid_selector).jqGrid('getGridParam', 'selrow');
    });
    </script>
{% endblock %}
